body {
    background-image: url("css\ imagem\ fundo.jpg");
    background-size: cover;
    background-position: right top;

}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 100px;
    opacity: 0.9;
}

.botao-voltar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
}

